.fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

.company_input_wrap {
    display: block;
    height: 34px;
    text-align: center;
    margin: 0 30px 24px;
	position: relative;
	overflow: visible!important;
}

.input_with_domain {
    font-size: 14px;
    line-height: 14px;
    border-radius: 3px;
    border: 1px solid #9DADC5;
    background: #fff;
    -moz-transition: box-shadow 0.2s linear 0s;
    -webkit-transition: box-shadow 0.2s linear 0s;
    -o-transition: box-shadow 0.2s linear 0s;
}

.qy_index_btn_Green {
    background: #66BC07;
    color: #FFFFFF;
	width:100px;
	height: 30px;
}

.table{
    /*此元素会作为块级表格来显示（类似 <table>），表格前后带有换行符。*/
    display:table;
    /*border-collapse:collapse;*/
    border-collapse:separate;
    margin: 0 auto;
}

.table-caption1{
    /*此元素会作为一个表格标题显示（类似 <caption>）*/
    display:table-caption;
    margin:0;
    font-size:16px;
}

.table-caption{
    /*此元素会作为一个表格标题显示（类似 <caption>）*/
    display:table-caption;
    margin:0;
    font-size:16px;
}
.table-header-group{
    /*此元素会作为一个或多个行的分组来显示（类似 <thead>）。*/
    display:table-header-group;
    background:#eee;
    font-weight:bold;
}
.table-row-group{
    /*此元素会作为一个或多个行的分组来显示（类似 <tbody>）。*/
    display:table-row-group;
}
.table-footer-group{
    /*此元素会作为一个或多个行的分组来显示（类似 <tfoot>）。*/
    display:table-footer-group;
}
ul{
    list-style:none;
}
.table-row{
    /*此元素会作为一个表格行显示（类似 <tr>）。*/
    display:table-row;
}
.table-cell{
    /*此元素会作为一个表格单元格显示（类似 <td> 和 <th>）*/
    display:table-cell;
    padding:0 5px;
    border:1px solid #ccc;
}
.table-row-group .table-row:hover,
.table-footer-group .table-row:hover{
    background:#f6f6f6;
    color:green;
    font-weight: bold;
}

.table-column-group{
    /*此元素会作为一个或多个列的分组来显示（类似 <colgroup>）。*/
    display:table-column-group;
}
.table-column{
    /*此元素会作为一个单元格列显示（类似 <col>）*/
    display:table-column;
    width:100px;
}